[2017-02-10 02:21] resouer opened #1 "Timeline and project ideas about CNCF GSoC"
Wow! Excited to have CNCF GSoC 2017!

Here's something I am not fully aware of:

1. Will all the ideas listed in [idea doc](https://docs.google.com/spreadsheets/d/1Dg8LhFt4ky-z1Fg16BNLd9m1tue3QnAHeCc9MPmUuDg/edit#gid=0) be reviewed by GSoC, and then pick out the final ideas? Or, these are already final ideas?

2. What's the timeline when final ideas are ready so student can start to participate?

[2017-02-10 17:45] caniszczyk commented on #1
1) these will be the list of final ideas, students have an option of submitting ideas but we only support ideas that have a full time mentoring assigned

2) https://developers.google.com/open-source/gsoc/timeline

3) first off, just add your idea + sign up as a mentor via the google sheet listed in #1, if CNCF gets accepted as a GSOC org on Feb 27th, you will then sign up as an official mentor on

[2017-02-16 08:12] resouer commented on #1
Thanks, my questions are all well answered. Since I've added my info in google sheet listed in #1, let's close this issue.

[2017-02-16 08:12] #1 closed

[2017-02-27 21:34] shrenikjain38 opened #10 "Contributing to project: Develop a set of Jupyter Notebooks for the Python Client"
Hi,
I am interested in contributing to project : "Develop a set of Jupyter Notebooks for the Python Client" and have experience working with docker containers and clusters(kubernetes and swarm). Can someone guide for initial contributions to the project.

Thanks,
Shrenik Jain

[2017-02-27 21:36] caniszczyk commented on #10
Hey @shrenikjain38, you're best bet is to reach out to @sebgoa and this issue:

https://github.com/kubernetes-incubator/client-python/issues/127

[2017-02-27 21:36] #10 closed

[2017-03-03 20:07] caniszczyk opened #11 "Add CoreDNS ideas"

[2017-03-03 20:07] caniszczyk opened #12 "Add gRPC ideas"

[2017-03-14 14:17] resouer opened #14 "Add containerd+CRI ideas"
This idea was originally added by @thockin in [doc](https://docs.google.com/spreadsheets/u/1/d/1Dg8LhFt4ky-z1Fg16BNLd9m1tue3QnAHeCc9MPmUuDg/edit#gid=0)

Now it's missing, and I just hope it come back.

[2017-03-14 14:35] caniszczyk commented on #14
Hey @resouer just issue a pull request.

Make sure the idea has a mentor + link to github issue + desc

[2017-03-18 16:40] caniszczyk commented on #12
done! https://github.com/cncf/soc/pull/15/files

[2017-03-18 16:40] #12 closed

[2017-03-18 16:40] caniszczyk commented on #11
cc: @miek for any coredns ideas

[2017-03-20 09:59] caniszczyk commented on #11
Thanks @miekg https://github.com/cncf/soc/pull/16

[2017-03-20 09:59] #11 closed

[2017-03-21 02:08] resouer commented on #14
Sure, thank you for reminding!

[2017-03-21 02:08] #14 closed

[2017-09-23 10:29] amitkumarj441 opened #21 "Timeline and Project Ideas for CNCF GCI"
Google has announced Google Code-in 2017 [program](http://opensource.googleblog.com/2017/09/announcing-google-code-in-2017.html)

1. Find Google Code-in timeline [here](https://developers.google.com/open-source/gci/timeline).
2. Tasks are categorized as:
    - Code
    - Documentation/Training
    - Outreach/Research
    - QA or UI/UX

@caniszczyk We need to gather tasks(relevant for GCI) and add

[2017-09-23 22:44] caniszczyk commented on #21
@amitkumarj441 can you reach out to Paris parispittman@google.com and see if there's interest in the Kubernetes community to do GCI. I don't have the bandwidth right now to have CNCF go full in, but if you are willing to help Paris with some GCI tasks, that would be a good start.

[2017-09-24 00:55] amitkumarj441 commented on #21
@caniszczyk I'll reach out to Paris asking for the interest and yes, I'm always up to help Paris with few tasks.

Thanks for the suggestion :grin:

[2018-01-04 19:33] nikhita commented on #21
I think this can be closed now. GCI 2017 is over.

[2018-01-04 19:43] #21 closed

[2018-01-04 19:43] caniszczyk opened #22 "Plan GSOC participation for 2018"

[2018-01-04 19:45] caniszczyk commented on #22
cc: @idvoretskyi we will put this in queue for Q2 2018

[2018-01-04 19:49] idvoretskyi commented on #22
@caniszczyk +1

[2018-01-04 19:54] nikhita commented on #22
Related https://github.com/cncf/soc/pull/23

[2018-01-15 09:32] Gouthamve commented on #22
@caniszczyk @idvoretskyi I am a Prometheus contributor and got started only because of GSoC. I would love to see GSoC happen again, but given the deadline is in a week, I was wondering if I could be of any assistance.

I sent out a call for ideas for GSoC in the Prometheus mailing-list and already have a list of ideas here: https://groups.google.com/forum/#!topic/prometheus-developers/EoWEOEkWXNc

[2018-01-15 11:00] idvoretskyi commented on #22
@Gouthamve perfect, thank you.

[2018-01-15 16:43] caniszczyk commented on #22
Thanks so much @Gouthamve, the best way you can help is coming up with project ideas and mentor any of them within the Prometheus community!

[2018-01-16 02:10] caniszczyk commented on #22
@Gouthamve can you do a PR and update the Prometheus section with project ideas?

I started with one carry over idea: https://github.com/cncf/soc/blob/master/README.md#prometheus

[2018-01-16 06:09] sttts commented on #22
Has there been a call-out for kube? If not, we should send out a link to a Google Doc again. Worked fine last year.

[2018-01-16 17:59] nikhita commented on #22
/cc @parispittman

[2018-01-17 04:54] nikhita commented on #22
https://groups.google.com/forum/#!topic/kubernetes-wg-contribex/5GPCKMvzylw

[2018-02-02 07:25] mozhuli opened #34 "Add Kubernetes workload benchmarker idea"
I am a Gopher and a student from SEL laboratory of Zhejiang University, I am digging into kubernetes and SDN when pursuing my master degree, and contribute some code in cri-containerd, stackube and ovn-kubernetes projects.

We have a proposal for kubernetes workload benchmarker which was  inspired from [PerfKitBenchmarker](https://github.com/GoogleCloudPlatform/PerfKitBenchmarker) project which fo

[2018-02-02 07:27] idvoretskyi commented on #34
cc @nikhita

[2018-02-02 10:39] nikhita commented on #34
I have a few questions and points here.

Firstly, this is great to hear and welcome to the community! 🎉

I would like to stress on the word _our_ here. From the [official Google Summer of Code FAQ](https://developers.google.com/open-source/gsoc/faq),

No, only an individual may work on a given project.

From what you wrote, it looks like the proposal has been a combined effort of a group of studen

[2018-02-02 12:39] mozhuli commented on #34
@nikhita Thanks for your detailed answer! Our main purpose is to find a way to introduce the idea and collaborate to accomplish it with community, we have done a few works with the idea. The proposal is quite a big, most work is done by myself currently, I will continue to contact with the relevant SIGs.  And I will try to divide the project into different components.

Hope for your further advice

[2018-02-13 05:11] #34 closed

[2018-03-03 18:22] Skywalker97 commented on #22
Hi
I want to work on one of your projects in GSOC 2018 but I am not a contributor on cncf. Will this hamper my chances of getting selected? Do existing contributors get any special preferance?

[2018-03-03 18:53] SeanPSnyder commented on #22
To piggyback on @Skywalker97, how much could a month of contributions do to really move the needle? Does CNCF reach out to professors or references, especially for those with limited public code bases? Is there some sort of coding challenge mechanism? Should we focus on current projects and start preparing/refining good examples of our work or what's the advice for students with a heavy academic/s

[2018-03-03 20:28] nikhita commented on #22
@Skywalker97

It's awesome you want to work on a CNCF project, welcome! :tada:

You don't need to be an existing contributor to any CNCF project. You can start now as well! :)

Absolutely not.

There is **no** special preference for anyone (that includes existing contributors). Selection in GSoC depends on multiple factors - how you communicate, how well you are able to grasp the code, your initia

[2018-03-03 20:40] nikhita commented on #22
@SeanPSnyder

Like I mentioned above to @Skywalker97, (a month of) contributions are a huge plus but not a guarantee for selection.

No, we don't require references (at least for Kubernetes, though I am sure other CNCF projects would follow the same principle). We look at multiple factors and your initial contributions gives us a good idea about how you can work with the project during the GSoC du

[2018-03-12 19:24] salvacorts opened #43 "Application draft scheme for GSoC 2018"
There is no information about which information should we include on the draft to be submitted on the GSoC platform. May you add some information about it?
I would love to contribute on some projects this summer with you!!

[2018-03-13 07:35] nikhita commented on #43
@salvacorts It's awesome that you would like contribute to CNCF projects, welcome!

We don't officially enforce an application template for GSoC. You are free to create the application the way you'd like. :) However, I'd suggest to reach out to the mentor for the project you are applying to and discuss the application with them before hashing it out completely.

In general, following points are go

[2018-03-13 07:40] nikhita commented on #43
I have received numerous questions about how to write an application recently. I'm wondering if it would be better if we had a suggested template. Most organizations in GSoC do.

I'm pretty sure we don't "need" a template but I think it's easier and a "nice-to-have".  If it makes sense, I can create a PR about this.

@Gouthamve @sttts @caniszczyk @idvoretskyi thoughts?

[2018-03-13 08:08] Gouthamve commented on #43
What I do to those approaching Prometheus community is link to my proposal while also some blog posts that helped me write my proposal. We could do the same, I guess.

I like this one: http://teom.org/blog/kde/how-to-write-a-kick-ass-proposal-for-google-summer-of-code/

[2018-03-13 08:19] nikhita commented on #43
@Gouthamve +1.

So something like "tips to write your proposal"? It could include some general advice (we can hash it out later if we need this) and a bunch of links to such blog posts.

[2018-03-13 08:22] Gouthamve commented on #43
Yep, and also one or two previous proposals. I've seen GDB and couple of
other orgs do that.

On Tue, Mar 13, 2018 at 1:49 PM Nikhita Raghunath <notifications@github.com>
wrote:

[2018-03-13 15:41] idvoretskyi commented on #43
+1. @nikhita please, go ahead

[2018-03-15 00:19] jbw976 opened #45 "Information about selection process for proposals"
Should the README.md be updated with information about how the CNCF, as a mentoring organization for GSoC, will be performing the selection process on submitted proposals?  In particular, I'm curious about the following:
* Will the mentors for each project be responsible for reviewing proposals for their project?  Or will the CNCF be the only reviewers?
* Is there a limited number of proposals tha

[2018-03-15 06:34] nikhita commented on #45
Yes.

The organization admins are from CNCF. They can review the proposals as well, but mentors are responsible for it.

Yes, Google allots slots to organizations. Slots are the number of projects that can be accepted for gsoc.
https://developers.google.com/open-source/gsoc/help/slot-allocation

@caniszczyk?

[2018-03-15 16:21] jbw976 commented on #45
Thanks @nikhita!  Is there a link for where proposals for our specific project are ready to be reviewed? or how to we find them?

[2018-03-15 17:07] caniszczyk commented on #45
re: limit per project, we make a call based on the list of quality submissions, in the past, we have tried to give each CNCF project 1 slot (if they had a qualified proposal), but we leave this to judgement of CNCF staff

[2018-03-15 17:08] caniszczyk commented on #45
@jbw976 you should have been invited to summerofcode.withgoogle.com/dashboard/ under the CNCF GSOC organization, if you haven't @idvoretskyi can invite you if you give him your email

[2018-03-15 17:50] idvoretskyi commented on #45
@jbw976 please, email me to "ihor at cncf.io" with the preferred email; I'll check if you are invited, otherwise I'll invite you.

[2018-03-15 17:59] nikhita commented on #43
@Gouthamve Can you share the link to your proposal? Will add it in.

[2018-03-15 18:07] Gouthamve commented on #43
Sorry for not providing it earlier:
https://docs.google.com/document/d/1_kqdLrzF3PF7ycLHc9GRgX-_imBfupSuMFidseULWB8/edit

On Thu, Mar 15, 2018 at 11:29 PM Nikhita Raghunath <notifications@github.com>
wrote:

[2018-03-20 08:43] nikhita commented on #45
Closing since this is resolved. Please reopen if there are any further issues.

[2018-03-20 08:43] #45 closed

[2018-03-21 13:50] urvil38 opened #47 "containerd plugin for katacontainer runtime"
Hello, I am interested in plugin of containerd for katacontainer runtime.I read the preliminary design doc for containerd plugin.but I am confused about architecture that showed in a doc.Correct me if I am wrong but we are trying to build a replacement for docker runtime "runc" with "katacontainer" runtime for kubernetes and later for docker.Is that right?Please give me more information about foll

[2018-03-21 18:00] #47 closed

[2018-08-12 07:02] nikhita commented on #43
I never got a chance to get it in for last year. I'm going to reopen this because I'd like to get this in for the next gsoc session.

[2018-08-12 07:03] nikhita commented on #22
I guess this can be closed now, given that the "planning" phase is done. Please reopen if you feel otherwise. :)

[2018-08-12 07:03] #22 closed

[2018-09-04 20:58] idvoretskyi opened #50 "Plan GSoC participation for 2019"
[CNCF has successfully participated in GSoC 2018](https://www.cncf.io/blog/2018/09/04/cncfs-full-gsoc-roster-passes-summer-evaluations/), having [7 of 7 projects accepted and passed the final evaluations](https://summerofcode.withgoogle.com/organizations/6453865516367872/#projects).

Now it's time to start planning the GSoC 2019 participation.

[2018-09-04 21:00] idvoretskyi commented on #43
Closing this for now. Will open another one for 2019, once the program will be officially started.

[2018-09-04 21:00] #43 closed

[2018-09-04 21:27] idvoretskyi commented on #43
@caniszczyk it's scheduled for today.

[2018-09-05 06:43] bargemb commented on #50
Hi Ihor,
    I am a graduate student of San José State University and interested in participating for GSoC 2019. I have background on Kubernetes and started Kelsey's "Kubernetes The Hard Way" to revise knowledge. I would appreciate any guidance on how to proceed with this.
    To begin with, I joined cncf slack channel.

Regards,
Mayur

[2018-09-05 07:02] nikhita commented on #50
@bargemb Welcome! :wave:

If you are interested in Kubernetes, please join the Kubernetes slack: http://slack.k8s.io/.

In Kubernetes, we have multiple SIGs (Special Interest Groups) which focus on particular "parts" in the whole Kubernetes ecosystem. You can find the list of SIGs [here](https://github.com/kubernetes/community/blob/master/sig-list.md). I'd suggest you to pick up a SIG and start ge

[2018-09-05 07:03] nikhita commented on #50
@idvoretskyi the blog post is cool! :ok_hand:

[2018-09-05 07:06] idvoretskyi commented on #50
@bargemb welcome! Please, join us at the Kubernetes community for the details on getting started with the Kubernetes contributions, and I'll keep this thread updated on the GSoC-specific questions (more details soon).

@nikhita thank you, you did a lot for CNCF's GSoC program in 2018 :)

[2018-09-05 20:53] bargemb commented on #50
Thank you @idvoretskyi and @nikhita for your inputs. Looking forward to hearing more from you on GSoC 2019.

[2018-11-15 04:01] pandyamarut commented on #50
@nikhita Where are Cncf projects?

[2018-11-15 04:03] nikhita commented on #50
@pandyamarut You can find details about all CNCF projects on the website: https://www.cncf.io/projects/

[2018-11-15 11:59] Abhik1998 commented on #50
Hii I am a cloud computing solutions enthusiast and want to learn more of Kubernetes and cloud

[2018-11-15 12:00] Abhik1998 commented on #50
I am much eager to participate in Gsoc 2019

[2018-11-17 09:37] Abhik1998 commented on #50
@nikhita  and @idvoretskyi
I am solving issues upon Kubernetes project what should be my next move?

[2018-12-21 17:00] sourabh1031 commented on #50
Hello @idvoretskyi @nikhita I am Sourabh , greatly interested to be a part of CNCF family. I am looking to apply in upcoming GSoC 2019 under your org.Please provide me a starter guide , including good first issues which i need to solve to get my hands dirty with the codebase, communication channels, prerequisites that i must have to get started (like how much knowledge of docker , k8s or golang).

[2019-01-10 10:53] nikhita commented on #50
For those interested in Kubernetes -- I've received some emails and DMs regarding gsoc recently. The best way to ask questions or discuss about this is in the #gsoc-apps channel on the Kubernetes slack (you can get an invite for it [here](http://slack.k8s.io/)).

Also, we will start with the gsoc process soon and I'll give an update when we do so. For now, please stick to asking questions on the c

[2019-02-04 23:50] angadsharma1016 commented on #50
Hi. I would like to contribute to this project for GSOC 2019. I am familiar with golang, docker and docker-swarm, node.js, SQL, mongoDB, neo4j and electron.js  Where can i start?

[2019-02-05 06:31] nikhita commented on #50
@angadsharma1016 Please follow the links mentioned in the comments above and check out the projects in the README. Depending on the projects that you are interested in, reach out to the mentors (preferably in a public channel) and let them know that you are interested.

I recently wrote some points about how to get started in the #gsoc-apps channel in Kubernetes slack. Pasting this here so that it

[2019-02-13 03:41] Helinia commented on #50
@nikhita Hi there, I am interested in contributing. However, I find that the link to Kubernetes slack is unavailable. Can you provide a valid link, please? I appreciate your help.

[2019-02-13 06:49] nikhita commented on #50
@Helinia Good question! The Kubernetes Slack inviter was shut down recently due to spam attacks. We are working on getting that fixed in the next few days.

Till then, I'd suggest to look at the [existing project ideas](https://github.com/cncf/soc#kubernetes), choose the one that sounds interesting to you and introduce yourself on the issue mentioned in the project idea (make sure to ping the ment

[2019-02-28 20:10] sourabhdeshmukh commented on #50
Hello everyone,
I'm a last year B.Tech student and looking forward to participate in Gsoc'19.
I would sincerely seek your help in contributing to projects.
Thank you.

[2019-03-03 12:19] mrkarna commented on #50
Hi everyone, Can any one share the GSoC project ideas list link?

[2019-03-03 16:21] caniszczyk commented on #50
@mrkarna https://github.com/cncf/soc#project-ideas

[2019-03-11 06:55] justinzhf commented on #50
@idvoretskyi  hi! I am a graduate student of Nanjing University of Aeronautics and Astronautics. My major is data mining, to be exact, research on anomaly detection of complex system. I have finished a paper about power system anomaly detection. I am interested in this idea of GSoC 2019(https://github.com/cncf/soc/blob/master/README.md#falco-integration-with-aiml-platforms). I really want to do so

[2019-03-16 03:13] yas1nth commented on #50
@nikhita @idvoretskyi
Hi there,
I am B.E undergraduate from chaitanya bharati institute of technology. My major contribution is fro home automation using cloud computing and IOT.I am very much interested for GSOC 2019

[2019-08-26 13:11] nikhita opened #97 "Add past student proposals and final work product submissions"
Adding links to proposals and final work product submissions by past GSoC students would prove useful to the newer cohort.

Final work product submissions are public anyway, so IMO it should be fine to include them. Proposals aren't public by default so we can make it optional and students could PR a link to it if they want. :)

Thoughts, @idvoretskyi @caniszczyk?

[2019-08-26 15:56] palash25 commented on #97
Would submissions and proposals of community bridge students be also included in this?

[2019-08-26 15:58] nikhita commented on #97
I think we can do that! :)

We can create `gsoc` and `community-bridge` subdirectories under a `2019` directory or something like that.

[2019-08-26 16:07] idvoretskyi commented on #97
@nikhita @palash25 let's keep this repo GSoC-focused.

We may create a dedicated repo for the Community Bridge process and documents later if needed. Please, don't forget that we're CNCF's participation the Community Bridge is in the pilot stage at the moment.

[2019-09-05 10:22] jiachengxu commented on #97
Hi @nikhita @idvoretskyi, actually there is a repo called [gsoc-cn](https://github.com/gsoc-cn/gsoc-cn/tree/master/resources), which contains proposals and some introductions of the different orgs from Chinese GSoC students . Although the introductions are in Chinese, all the proposals are in English. I think we can use a similar structure for this like: https://github.com/gsoc-cn/gsoc-cn/tree/mas

[2019-09-30 23:59] idvoretskyi commented on #50
Done.

Publicly announced at https://www.cncf.io/blog/2019/08/23/cncf-joins-google-summer-of-code-2019-with-17-interns-projects-for-containerd-coredns-kubernetes-opa-prometheus-rook-and-more/

[2019-09-30 23:59] #50 closed

[2019-10-01 00:01] idvoretskyi opened #98 "Plan GSoC participation for 2020"
GSoC 2019 is done - https://www.cncf.io/blog/2019/08/23/cncf-joins-google-summer-of-code-2019-with-17-interns-projects-for-containerd-coredns-kubernetes-opa-prometheus-rook-and-more/.

This is a placeholder issue to start GSoC 2020 planning.

/cc @caniszczyk

[2019-10-12 15:12] davidcode00 commented on #98
Hi @idvoretskyi  I am S. Krishna, undergrad at IIIT Delhi and interested in participating GSOC.  I have a prior interest in machine learning and it's applications. Please can you give some advice to help me getting started. Thanks :).

[2019-10-13 10:32] idvoretskyi commented on #98
GSoC 2020 planning will start in January.

Please stay tuned.

[2019-12-08 06:07] palash25 opened #100 "Ambiguity in the Community Bridge timeline"
The current timeline goes like this

[code]

This doesn't mention when the selected students are announced for each project. And I am assuming that the Dec-March coding period refers to the project implementation rather than the period for submitting beginner patches for the projects in order to get selected. Can you clear this up @idvoretskyi ?

Also the 5 Dec to 15 Dec application period is it j

[2019-12-09 10:02] idvoretskyi commented on #100
December 16 2019.

It refers to the actual work on the project.

December 16 is the start date.

[2019-12-09 10:46] palash25 commented on #100
So the students can start reaching out to the mentors right now?

[2019-12-09 15:43] idvoretskyi commented on #100
That's correct.

[2019-12-09 18:32] idvoretskyi commented on #100
Details updated, thanks @palash25 - https://github.com/cncf/soc/commit/9fc38db7c4057a9106bbeb5a1a6f97351dbad811.

[2019-12-09 18:32] #100 closed

[2019-12-12 04:33] khyatisoneji opened #106 "Add IRC Channel to connect with community"
Can we please add links to IRC channel in the project idea along with mentor information?

This would be very helpful to directly go to IRC channel and ask questions to the community.

[2019-12-12 04:38] nikhita commented on #106
Most CNCF projects have their own communication means. For example, Kubernetes has it's own slack instance (https://slack.k8s.io/). https://www.cncf.io/projects/ contains info about communication methods for all projects.

For broad CNCF related discussions, you can also join the CNCF slack at https://slack.cncf.io/. :)

Mentors are listed along with the project idea, you should be able to ping th

[2019-12-12 05:55] nikhita commented on #106
Closing, feel free to comment here if you have any more questions about this.

[2019-12-12 05:55] #106 closed

[2020-01-04 20:21] kumaran-14 commented on #98
Hey. I'm Kumaran from India. I'm interested in participating in GSoC'20 and contributing to cncf. Could you help me in getting started?
Thanks in advance.

[2020-01-26 17:15] caniszczyk commented on #98
@idvoretskyi can you create a file for 2020.md that people can start submitting ideas to

[2020-01-26 17:20] idvoretskyi commented on #98
Sure, no problem!

[2020-01-27 06:40] smishra997 commented on #98
@idvoretskyi I would also like to start contributing for GSOC 2020, I am experienced in Full Stack Development as well as in Machine Learning too, so could you do as @caniszczyk said and we would start contributing as early as possible and probably try to do something good.

[2020-01-27 06:59] idvoretskyi commented on #98
@caniszczyk we have this section in the README - https://github.com/cncf/soc/blob/master/README.md#project-ideas, which was used previously for the project ideas submissions, so nothing changed this time.

I am happy to create a new file for 2020 program specifically, whichever we prefer.

[2020-01-27 07:01] idvoretskyi commented on #98
@smishra997 it's already there. If you are a project maintainer and plan to participate as a mentor, please submit your ideas as stated here - https://github.com/cncf/soc/blob/master/README.md#project-ideas

[2020-02-11 19:43] caniszczyk opened #142 "Can we also list links to the CommunityBridge projects"
For each CB project, can we link to the official CB page?

i.e., https://people.communitybridge.org/project/bce45251-1ff4-4131-9699-0a0017b31495

[2020-02-11 19:43] idvoretskyi commented on #142
@caniszczyk good point, thanks.

[2020-02-12 10:31] idvoretskyi commented on #142
@caniszczyk actually, we already have them listed here - https://github.com/cncf/soc/tree/master/communitybridge#participating-projects; do you want to move them to a more visible spot on the page?

[2020-02-12 14:45] caniszczyk commented on #142
where are the links to CommunityBridge?

On Wed, Feb 12, 2020 at 4:31 AM Ihor Dvoretskyi <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-02-13 17:18] idvoretskyi commented on #142
Here we go - https://github.com/cncf/soc/pull/143

[2020-02-14 13:00] idvoretskyi commented on #142
Closed by https://github.com/cncf/soc/pull/143

[2020-02-14 13:00] #142 closed

[2020-02-20 18:08] caniszczyk commented on #98
We were accepted to GSOC, wohoo!

@idvoretskyi please do a final push to get project ideas from CNCF projects

[2020-02-20 18:08] #98 closed

[2020-02-24 13:08] zoobab opened #146 "Looking for another umbrella organization for GSOC2020, OpenWRT PPA with Kubernetes"
Hi,

Freifunk was not selected as an GSOC2020 org, could you consider recycling this project of PPA for OpenWRT:

https://github.com/freifunk/projects.freifunk.net-contents/blob/master/collections/_projects/openwrt_ppa.md

Best regards,

[2020-02-24 17:42] idvoretskyi commented on #98
Just sent out another reminder to the CNCF project maintainers - let's have them by EOW :)

[2020-03-12 07:23] nikhita commented on #146
@zoobab Sorry for the late response. Unfortunately, we require that all GSoC projects be upstream CNCF projects. Given that this is a project which uses Kubernetes but is not an upstream project, we would not be able to take it on. :(

[2020-03-12 07:23] #146 closed

[2020-03-27 22:07] caniszczyk opened #164 "Catalog previous outreachy internships + results here"
Let's create an outreachy folder and catalog results here like we do for other projects.

[2020-03-30 16:54] idvoretskyi opened #169 "Catalog previous CB internships + results here"
Similar to https://github.com/cncf/soc/issues/164, but for CB.

[2020-04-02 14:31] caniszczyk opened #170 "Add a section in the README for Stats"
We should have a section in the top level README.md that showcases stats for internships across years (separating out summer of code + cb)

[2020-04-02 14:38] idvoretskyi commented on #170
GSoC archive data is available at https://summerofcode.withgoogle.com/archive/; I'll take care of putting it in the easy-readable way in this repo.

[2020-04-02 14:49] caniszczyk commented on #170
I'm just looking for a simple table...

Years, CB Interships, Summer of Code Internships ;)

On Thu, Apr 2, 2020 at 9:38 AM Ihor Dvoretskyi <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2020-04-02 14:54] idvoretskyi commented on #170
+1, sounds good

[2020-04-10 14:12] #164 closed

[2020-04-14 19:57] #169 closed

[2020-04-14 21:06] caniszczyk opened #177 "Apply for Season of Docs"

[2020-04-14 21:09] caniszczyk opened #178 "Add ideas for Season of Docs"

[2020-04-14 21:10] caniszczyk commented on #178
@idvoretskyi work with Zach to get some ideas!

[2020-04-15 07:40] bwplotka commented on #177
:+1:

I guess this can include tutorials we spoke about @caniszczyk , right? (:

[2020-04-15 11:40] simransinghal opened #180 "No #mentoring channel"
There is no channel with the name #mentoring on [CNCF slack](https://slack.cncf.io/).

[2020-04-15 11:56] dholbach commented on #180
Confirmed, at least
- https://github.com/cncf/mentoring/blame/master/README.md#L18 and
- https://github.com/cncf/mentoring/blame/master/seasonofdocs/README.md#L48 do point there

[2020-04-15 12:26] simransinghal commented on #180
@dholbach Should I go ahead and change it to [#communitybridge](https://cloud-native.slack.com/archives/CPV83DB51).

[2020-04-15 12:36] dholbach commented on #180
@idvoretskyi can probably advise.

[2020-04-15 12:45] idvoretskyi commented on #180
@simransinghal no, we'll fix this.

[2020-04-15 14:08] idvoretskyi commented on #180
#gsoc channel has been renamed to #mentoring, thanks @simransinghal for the heads up!

[2020-04-15 14:49] #180 closed

[2020-04-15 14:49] caniszczyk commented on #177
applied

@bwplotka yes, work with @idvoretskyi on where to add the proposal

[2020-04-15 14:49] #177 closed

[2020-04-15 14:51] idvoretskyi commented on #177
@bwplotka we'll post the updates here - https://github.com/cncf/mentoring/tree/master/seasonofdocs; right now we are in an early bootstrap stage.

cc @zacharysarah @lucperkins

[2020-04-15 15:40] caniszczyk opened #181 "Highlight success stories in main README"
We have some amazing stories like Nikhta, Goutham and others that started out via a mentoring program via CNCF. @idvoretskyi please work with @KimMcMahon to see if we can highlight them on the blog in some way and also add their short story in the README :)

[2020-04-15 15:43] idvoretskyi commented on #181
@caniszczyk I just poke Kim, we'll work on this, thanks for proposal :)

[2020-04-16 13:42] #178 closed

[2020-04-16 14:42] #170 closed

[2020-04-30 14:07] caniszczyk opened #201 "Outline responsibilities for GSOC admins"

[2020-04-30 14:08] caniszczyk opened #202 "Ensure GSOC project proposals have CNCF project name"
It makes it much easier to filter ;)

[2020-04-30 14:26] nikhita commented on #202
YES!! :100: :100: :100:

[2020-04-30 20:45] karenhchu opened #206 "broken link on Community Bridge README"
On the [CNCF Community Bridge README](https://github.com/cncf/mentoring/blob/master/communitybridge/README.md), the link for "Community Bridge documentation website" (under Mentees) is broken. Can someone fix this? Thanks! :)

[2020-04-30 21:00] #206 closed

[2020-04-30 21:01] caniszczyk commented on #206
Thanks @karenhchu, the docs moved URLs, committed the fix

[2020-05-01 13:20] madewithkode opened #209 "Link to application guidelines on readme.md returns a 404"
The application guidelines link referenced in the readme file returns a 404(Page not found) error.
Here's the link https://docs.linuxfoundation.org/display/DOCS/Apply+to+a+Project

[2020-05-01 19:59] idvoretskyi commented on #209
Fixed with https://github.com/cncf/mentoring/commit/21ea5057f7d99ba71878a6927e6e227d7aae3ffa

[2020-05-01 19:59] #209 closed

[2020-05-01 21:05] madewithkode commented on #209
Great :)

[2020-05-02 07:29] prondubuisi opened #215 "Community Bridge Q12020 link points to Q2020"
The link for the Q12020 projects, points to Q2020, I will send in a PR to fix this https://github.com/cncf/mentoring/tree/master/communitybridge#program-cycles-and-archive-data

[2020-05-04 08:57] #215 closed

[2020-05-04 19:45] caniszczyk opened #218 "Create a .settings.yml file"
create something like this https://github.com/cncf/sig-contributor-strategy/blob/master/.github/settings.yml

so we can manage admins for the repo

[2020-05-04 19:49] caniszczyk commented on #218
@idvoretskyi can you do this quickly

[2020-05-04 20:10] idvoretskyi commented on #218
Yep, on it.

[2020-05-04 23:14] #218 closed

[2020-05-06 06:13] ashutosh-narkar opened #224 "OPA project on Community Bridge in pending state"
OPA has submitted couple of [projects](https://github.com/cncf/mentoring/blob/master/communitybridge/2020/q2/project_ideas.md#opa) for Community Bridge 2020 Q2.

The [OPA page](https://people.communitybridge.org/project/12a9270f-8673-4acb-92ec-fd539fc2b567) on the Community Bridge website says "This project is pending approval!".

[2020-05-06 06:47] idvoretskyi commented on #224
@ashutosh-narkar Community Bridge product team is investigating an issue, OPA project should be already listed, but for some reason it doesn't (yet).

[2020-05-06 06:48] ashutosh-narkar commented on #224
Thanks for the update @idvoretskyi !

[2020-05-11 12:37] idvoretskyi commented on #224
This has been solved a couple days ago, thanks for flagging, @ashutosh-narkar.

[2020-05-11 12:37] #224 closed

[2020-05-12 13:12] pmarques opened #231 "Falco link using wrong URL"
In [seasonofdocs/README.md](https://github.com/cncf/mentoring/blob/5ab28e3d12d74168c65c2b1c39fb9d28ad3e53b7/seasonofdocs/README.md) Falco's website is a link to https://falcosecurity.org/ and I believe the correct URL should be https://falco.org/

**NOTE:** I didn't checked any other reference/link

[2020-05-14 14:51] amye opened #234 "GSoC Timeline Reminders"
- [x] GSoC Mentoring mailing list
- [ ] GSoC Calendar invites out as reminders of deadlines (2 days before due)
- [ ] Add all current mentors to both

[2020-05-14 15:21] #231 closed

[2020-06-12 09:13] HuGanghui opened #261 "Does Community Bridge have Q3 '2020？"
Dear maintainers:

I am interested in CNCF projects, but I miss Q2'2020, so I want to know does Community Bridge have Q3 '2020？If yes, can you provide specific time plan? I want to prepare beforehand, thanks~

[2020-06-12 13:05] idvoretskyi commented on #261
@HuGanghui we plan further iterations of the Community Bridge program, but please keep tracking our updates in the social media and this repo.

[2020-06-12 13:05] #261 closed

[2020-06-18 23:08] zacharysarah opened #264 "Write or admin?"
I can’t merge PRs, and I’d like to be able to. What’s the best syntax or approach here?

https://github.com/cncf/mentoring/blob/f1e8d4fd87e2fdde4ffc9c89f1f1145b5e90219d/.github/settings.yml#L28

[2020-06-27 10:30] idvoretskyi commented on #264
@zacharysarah fixed here - https://github.com/cncf/mentoring/commit/e4ada807a79260c81a9ac4b7ea4b72bf09a7d5e2, please check.

[2020-06-27 10:30] #264 closed

[2020-08-04 04:34] Sumaid opened #266 "Communitybridge Mentorship : A person can only do once"
[Readme](https://github.com/cncf/mentoring/blob/master/communitybridge/README.md) says that we can do two community bridge mentorships, but according to community bridge [guidelines](https://communitybridge.org/guide/) a candidate can only do one community bridge mentorship overall.

[2020-08-04 06:45] idvoretskyi commented on #266
@Sumaid Community Bridge is updating the T&C these days, so these changes are possible. Our README will be updated with the new T&C once the changes are finalized (hopefully, later this week).

[2020-08-04 13:24] idvoretskyi commented on #266
Fixed with https://github.com/cncf/mentoring/commit/5aab9bf8f9ad57db4d0bbfeede47ec3f4143ce56

[2020-08-04 13:24] #266 closed

[2020-08-18 17:57] caniszczyk opened #267 "link mentee blog posts as part of project table"
i.e., https://medium.com/@arthursens2005/my-first-real-experience-with-open-source-59728469ca52

[2020-08-18 17:58] idvoretskyi commented on #267
@caniszczyk already on it. Arthur just poke me directly.

[2020-08-18 18:03] idvoretskyi opened #268 "CNCF Community Bridge - Q3-Q4"
After the successful completion of the [Q2 phase](https://www.cncf.io/blog/2020/08/13/21-cncf-interns-graduate-from-the-q2-2020-linux-foundation-communitybridge-program/), we are going to kick off the Q3-Q4 stage of the program later this year.

Timeline and details will be provided soon.

[2020-08-18 18:11] #267 closed

[2020-08-18 18:15] idvoretskyi commented on #261
Please track the updates here - https://github.com/cncf/mentoring/issues/268, more coming soon!

[2020-09-01 16:59] idvoretskyi commented on #268
Fixed by https://github.com/cncf/mentoring/pull/269

[2020-09-01 16:59] #268 closed

[2020-09-03 19:24] caniszczyk commented on #181
blog posts are being added in the table

[2020-09-03 19:24] #181 closed

[2020-09-03 19:26] #202 closed

[2020-09-10 19:40] caniszczyk opened #287 "Convert some of the blog posts into "mentorship" spotlights"
https://www.cncf.io/spotlights/

[2020-10-08 17:12] mvortizr opened #306 "Problem to apply for community bridge"
I applied through the community bridge website and one of the task I have to complete is called "Full Specification"

![image](https://user-images.githubusercontent.com/25888607/95491537-b81b2400-0967-11eb-9633-c4c78c9337f0.png)

but when I try to access that link, it is broken.

[2020-10-08 17:12] mvortizr opened #307 "Problem to apply for community bridge"
I applied through the community bridge website and one of the task I have to complete is called "Full Specification"

![image](https://user-images.githubusercontent.com/25888607/95491537-b81b2400-0967-11eb-9633-c4c78c9337f0.png)

but when I try to access that link, it is broken.

![image](https://user-images.githubusercontent.com/25888607/95491746-0c260880-0968-11eb-88fa-13a1f385c324.png)

There's

[2020-10-08 17:15] #306 closed

[2020-10-08 17:22] idvoretskyi commented on #307
This request is out of scope for the current repo.

Please reach out to the Community Bridge platform support directly - https://support.communitybridge.org/

[2020-10-08 17:22] #307 closed

[2020-12-08 16:29] Siddhant-K-code commented on #287
is it still open ?

[2020-12-08 17:23] idvoretskyi commented on #287
Yes, this is in progress.

[2021-01-04 18:22] xmulligan opened #314 "Come up with Campus Ambassador Toolkit for Students"
See https://github.com/cncf/ambassadors/issues/21 for previous discussions

some prior art: https://blog.docker.com/2017/05/announcing-docker-student-developer-kit-campus-ambassador-program/

I've reviewed the Docker work, and the most compelling part is the Student Ambassador program (which doesn't seem to be currently active.)
Other Prior Art which seems to be more active:
https://fedoraproject.

[2021-01-04 19:38] idvoretskyi commented on #314
@xmulligan it would be great to check if the LFX Mentorship platform could be used for this initiative.

[2021-01-05 14:52] idvoretskyi opened #315 "Plan LFX mentoring programs for 2021"
Tentative dates - https://docs.linuxfoundation.org/lfx/mentorship/mentorship-program-timelines

[2021-01-06 15:37] sergioarmgpl commented on #314
Hi, people, i this days we will record some video with my students showing some cloud native technologies.

[2021-01-21 15:29] idvoretskyi opened #317 "LFX Mentorship (ex-Community Bridge) 2021 Spring cycle is open for the project applications"
CNCF is happy to announce that the LFX Mentorship program (previously known as Community Bridge) is open for project applications for the Spring 2021 cycle. The full program description you may find at the CNCF mentoring repo (https://github.com/cncf/mentoring/tree/master/lfx-mentorship).

Project maintainers and potential mentors are welcome to submit their ideas via submitting a PR to GitHub her

[2021-01-23 06:33] Jassi10000 opened #320 "Regarding the mentorship"
I need mentoring as am a student and a newbie who only  just joined the slack channels of CNCF . I read in the readme of this repo, that I can open an issue if I require mentoring , pls provide some more details about the same

[2021-01-25 11:18] xmulligan commented on #320
Hi @Jassi10000 , welcome to the cloud native community! Do you have a question about any of the mentorship programs that we can help with?

[2021-01-25 11:34] Jassi10000 commented on #320
First of all , thank you @xmulligan sir for acknowledging my issue, actually I want to start my DevOps journey , and that too in CNCF as its a gr8 community , but I require some sort of mentoring to know what's the path I should follow to maximize my learning and be on track as soon as possible , so I need help regarding that only

[2021-01-25 13:55] xmulligan commented on #320
Got it. This directory is for people needing help with the mentoring programs like Google Summer of Code or LFX. To get started on your DevOps journey, I would recommend courses from Linux Foundation training https://training.linuxfoundation.org/

[2021-01-25 13:55] #320 closed

[2021-01-25 14:13] Jassi10000 commented on #320
Ya sir no issues , I also want mentoring regarding GSOC and other programs like OutReachy etc . , I was only discussing that can I get mentoring on topics as well nothing else
Btw , pls tell me the further procedure of receiving mentoring regarding GSOC  and other open source programs

[2021-02-01 21:51] bwplotka commented on #317
Done, thanks for this initiative 💪🏽

[2021-02-05 18:29] hone commented on #317
@idvoretskyi sorry this fell through the cracks for us. Can we still submit a project or is that deadline firm?

[2021-02-05 20:12] idvoretskyi commented on #317
@hone please DM me on CNCF Slack, we may discuss this question there.

[2021-02-06 13:53] longngn commented on #317
@idvoretskyi there is a discrepancy between https://github.com/cncf/mentoring/blob/master/lfx-mentorship/2021/01-Spring/README.md and https://github.com/cncf/mentoring/blob/master/lfx-mentorship/2021/01-Spring/project_ideas.md (e.g. CSI project and Buildpack project). Maybe we should only list projects in one file.

[2021-02-06 17:44] hone commented on #317
+1 on that idea. For now should I update the PR to also edit the
`README.md`?

On Sat, Feb 6, 2021 at 7:53 AM Nguyen Le Vu Long <notifications@github.com>
wrote:

[2021-02-06 19:21] idvoretskyi commented on #317
@longngn these files serve for the different purpose. Some projects from the proposed list can be not accepted by CNCF to participate in the mentorship program.

@hone no need yet, since your project is not listed yet on LFX platform. I'll update the list of accepted projects once it's done (on Monday).

[2021-02-24 14:06] idvoretskyi opened #343 "Run GSoC program in 2021"
CNCF has been participating in the Google Summer of Code during the last few years (eg. see our 2020 report - https://www.cncf.io/blog/2020/09/17/16-cncf-interns-graduate-from-summer-of-code-gsoc-2020/), and now we are ready to start the 2020 program cycle. We have already applied to participate in GSoC 2021, and we should receive the final confirmation from Google after March 9 (https://developer

[2021-02-26 16:18] idvoretskyi commented on #317
All projects have applied, the selection is in progress.

[2021-02-26 16:18] #317 closed

[2021-03-10 06:26] Vivek-Hotti commented on #343
Hey @idvoretskyi , I am interested in Google Summer of Docs and want to be part of CNCF GSoD 2021 for the same.
Where and how do I get started?
Thanks in advance.

[2021-03-10 10:55] idvoretskyi commented on #343
@Vivek-Hotti GSoD process is separate, @zacharysarah will drive it.

[2021-03-19 08:17] wy2249 commented on #343
Hi @idvoretskyi . Interested in applying for GSoC in 2021. Wondering how I can start my proposal? Should I check out issues in those open source projects, or is there any project ideas?

[2021-03-19 08:28] idvoretskyi commented on #343
@wy2249 yes, please check the project ideas and respective issues here - https://github.com/cncf/mentoring/blob/master/summerofcode/2021.md

[2021-03-19 08:31] wy2249 commented on #343
Thanks! On the [page](https://summerofcode.withgoogle.com/organizations/6354864663166976/) of GSoC, there is only a link to a [template](https://github.com/cncf/mentoring/blob/master/PROJECT_IDEA_TEMPLATE.md). Just for suggestion, maybe if it's better to have the project idea link there!

[2021-03-22 18:50] idvoretskyi commented on #343
@wy2249 if you’ll click on the “View Ideas Page” button there, you’ll see all the projects :)

The template linked is a program requirement.

[2021-04-06 12:58] viveksahu26 commented on #343
Hey @idvoretskyi , is there any mentor assigned for the project "Cluster Addons: CRI-based CSI Volume Image Driver". I yes, then why not replying to my messages. Is he out of the station? Please let me know.

[2021-04-06 13:15] idvoretskyi commented on #343
@viveksahu26 mentors have enough time to do it - https://developers.google.com/open-source/gsoc/timeline

[2021-04-06 13:18] viveksahu26 commented on #343
Is there any other way ( except github) to contact my project mentor @ecordell .

[2021-04-09 11:13] kanupriya-hub commented on #343
hey, I would like to join cncf

[2021-04-09 11:14] kanupriya-hub commented on #343
hey, I would like to join cncf

[2021-04-09 11:15] kanupriya-hub commented on #343
hey, I would like to join cncf

[2021-05-06 16:49] piano-man opened #400 "Part time LFX mentorship?"
Hey folks,
Based on the timeline it appears that CNCF only provides full time mentorship(LFX) opportunities.
Is there a reason for not allowing part time mentees? Is the target set of mentees limited to students or are working professionals encouraged to apply for these as well?

Thanks :)

[2021-05-06 16:53] idvoretskyi commented on #400
@piano-man we are happy to review the part-time mentoring proposals from the projects on a case by case basis.

[2021-05-06 17:10] piano-man commented on #400
That's good to hear!
Thanks.

[2021-05-06 17:10] #400 closed

[2021-07-21 17:25] pankaj892 opened #407 "Profile Link of Mentees"
I see that there is no profile link of mentees that completed projects.It would be great if we could have links to their github or communitybridge profiles so people can know more about them.

[2021-07-21 18:02] idvoretskyi commented on #407
@pankaj892 good point, thanks. We may do it for the next mentee cohorts.

[2021-07-21 18:02] #407 closed

[2021-07-21 18:15] jayesh-srivastava commented on #315
Hey. I am a beginner and I really want to contribute. Can you please explain a bit further as to what is to be done. Do I need to update the dates for the fall term 2021 of the LFX Mentorship?

[2021-07-21 19:30] idvoretskyi commented on #315
@jayesh-srivastava no need to work on this issue, thanks - this is an issue for CNCF staff.

If you are willing to participate in the mentoring programs this time around, please check the further instructions in this repo - https://github.com/cncf/mentoring#mentoring-programs.

[2021-07-21 19:32] jayesh-srivastava commented on #315
Ok thanks for the clarification @idvoretskyi

[2021-07-23 10:34] anubhav201241 opened #408 "Suggestion"
In the repository when clicking on CNCF mentoring site it is not redirecting to your site it is redirecting to the same GitHub page please solve it :))

[2021-07-23 12:42] idvoretskyi commented on #408
@anubhav201241 this is intentional. Thanks for flagging, though.

[2021-07-23 12:42] #408 closed

[2021-07-27 21:18] aditiagarw4722 commented on #181
Good

[2021-08-02 12:08] xmulligan commented on #314
This is currently being worked on in https://github.com/cncf/students. Please contact me if you want to help work on this before it is public

[2021-08-02 12:08] #314 closed

[2021-08-05 12:34] idvoretskyi commented on #287
We have a few here, and still ongoing - https://github.com/cncf/mentoring#success-stories

[2021-08-05 12:35] #287 closed

[2021-09-16 10:25] ManishOffi commented on #343
@idvoretskyi
Hi Sir
i want to contribution
please assign me for this contribution role

[2021-09-28 14:29] hari-uc commented on #234
can i work on this ..please

[2021-10-27 17:58] harshita19244 opened #437 "Add Harshita Srinivas to the list of mentees under Outreachy"
As a former Outreachy intern in May'21 cohort under the OpenTelemetry project, can my name please be added to the mentorship column of Outreachy?

[2021-10-30 15:12] sreekaransrinath opened #438 "The LFX Mentoring program has Spring '21 listed as ongoing in multiple locations"
The current ongoing cycle should be fall.

![image](https://user-images.githubusercontent.com/50989977/139538879-1f72738d-1d51-4e5c-9cdf-f21c1511fe92.png)
https://github.com/cncf/mentoring/tree/main/lfx-mentorship
https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2021/01-Spring/README.md

[2021-10-30 15:14] sreekaransrinath commented on #438
In a similar vein, Q3-Q4 2020 is also listed as ongoing.
https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2020/q3-q4
![image](https://user-images.githubusercontent.com/50989977/139538963-9d91a5cb-3d0d-4f21-aba5-cb5e9403593c.png)

[2021-10-30 15:19] sreekaransrinath commented on #438
Also, the timeline in the summer term 2021 has the Spring term's duration listed as June 1 - August 31

https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2021/02-Summer

![image](https://user-images.githubusercontent.com/50989977/139539120-724fc3d0-8a86-4a50-9079-82aadac7d008.png)

[2021-10-30 15:32] idvoretskyi commented on #438
@sreekaransrinath thanks for noticing, you are welcome to submit a PR to fix this :)

[2021-10-30 17:00] sreekaransrinath commented on #438
Wonderful, I've got the changes done, let me go ahead and push :)

[2021-10-30 17:00] sreekaransrinath commented on #438
/assign

[2021-10-30 17:23] idvoretskyi commented on #438
Fixed by https://github.com/cncf/mentoring/pull/439

[2021-10-30 17:23] #438 closed

[2021-11-02 19:02] idvoretskyi opened #440 "Enable GH Discussions on this repo"
For the various types of conversations, GitHub Discussions might be more useful than Slack, let's consider enabling Discussions on this repo - https://docs.github.com/en/discussions.

[2021-11-02 19:56] nate-double-u commented on #440
Looks like it's already turned on
https://github.com/cncf/mentoring/discussions

[2021-11-02 20:09] nate-double-u opened #441 "Change labels - add LFX mentorship"
https://github.com/cncf/mentoring/blob/661448c0b2672f4d66564dca81cef843cbc3ebaa/.github/settings.yml#L29

Community bridge has been replaced by the LFX mentorship program. We should either replace this label, or add a new LFX mentorship one (probably the latter is better so we keep the labeling history)

[2021-11-02 20:14] idvoretskyi commented on #441
@nate-double-u I think it's better to rename the existing one - it's basically the same program just under the different name.

[2021-11-02 20:17] idvoretskyi commented on #437
@harshita19244 sure, please go ahead and add full details of your mentoring project to https://github.com/cncf/mentoring#program-statistics

[2021-11-02 20:23] idvoretskyi commented on #437
Added to the 2021 cohort at https://github.com/cncf/mentoring/commit/bf82028ab87c27a91085c15b6ef0e68f027f90bf#diff-fa9776f9727799102a34f701384ab4e85208c202e0c66b8aee075072da5a5749

[2021-11-02 20:23] #437 closed

[2021-11-02 20:30] #441 closed

[2021-11-02 20:32] idvoretskyi commented on #343
This is done - https://www.cncf.io/blog/2021/11/01/16-cncf-interns-graduated-from-google-summer-of-code-gsoc-2021/

[2021-11-02 20:32] #343 closed

[2021-11-06 12:56] shreemaan-abhishek opened #443 "FAQ section in README.md?"
It'd be really cool to have a FAQ section mentioning FAQs (of course) so that maintainers of this repository don't have to answer questions repeatedly.

[2021-11-06 13:25] idvoretskyi commented on #440
Correct, thanks!

[2021-11-06 13:25] #440 closed

[2021-11-06 13:25] idvoretskyi commented on #443
+1, thanks, good point.

[2022-01-26 23:54] nate-double-u commented on #443
Is a FAQ good content for the [Discussions](https://github.com/cncf/mentoring/discussions) board?

[2022-01-26 23:59] nate-double-u commented on #443
Also, what are some good frequently asked questions we could start with?

[2022-01-27 00:02] nate-double-u commented on #315
closing as we're starting the Spring 2022 LFX Mentorship cycle 🙂

[2022-01-27 00:02] #315 closed

[2022-01-28 13:20] shreemaan-abhishek commented on #315
@idvoretskyi I can only see Layer5 in the list of projects that are accepting applications. And as @nate-double-u said,

Does this mean that there aren't any more projects that are going to open for applicants?

[2022-01-28 15:29] idvoretskyi commented on #315
Projects are not accepting applications yet, please see this post for more
details -
https://github.com/cncf/mentoring/discussions/445.

On Fri, 28 Jan 2022 at 15:20 Abhishek Choudhary ***@***.***>
wrote:

--
Ihor Dvoretskyi ***@***.***>
Developer Advocate, Cloud Native Computing Foundation https://cncf.io/

[2022-02-01 17:42] idvoretskyi opened #465 "Kick off the GSoC 2022 mentoring cycle"
Timeline - https://developers.google.com/open-source/gsoc/timeline

[2022-02-01 17:50] nate-double-u commented on #465
- [ ] create new 2022 .md page for CNCF + Summer of code

[2022-02-10 04:17] FeynmanZhou opened #487 "Can we apply to LFX mentorship as a CNCF project owner?"
Hi @idvoretskyi ,

As I see the project application for Q1 Spring is [only open till Feb 1](https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/01-Spring#timeline), can we still apply to join the LFX mentorship as a CNCF project owner for Q1 Spring term? If not, shall we start to apply for the Q2 Summer term now?

Thanks.

[2022-02-10 22:30] #487 closed

[2022-02-12 06:55] FeynmanZhou commented on #487
Clear! Thanks @idvoretskyi

[2022-02-22 12:27] idvoretskyi commented on #465
Closing this issue, see more details at https://github.com/cncf/mentoring/discussions/469#discussioncomment-2228202.

[2022-02-22 12:27] #465 closed

[2022-02-28 17:08] nate-double-u opened #523 "CNCF GSoC Project Ideas missing information - please update ASAP"
I’ve gone through and [added template additions](https://github.com/cncf/mentoring/pull/522) for each project as per the [Defining a Project Idea list](https://google.github.io/gsocguides/mentor/defining-a-project-ideas-list).

Please update any [project suggestions you’ve submitted](https://github.com/cncf/mentoring/blob/main/summerofcode/2022.md) and ensure the following are present and correct:

[2022-03-01 16:53] nate-double-u commented on #523
Thanks for all the updates so far everyone!

We're still looking for some updates for several projects. Sorry for the mass tagging, but if you're tagged in this message there are still projects that you're involved in that need to be updated in order to be considered for GSoC.

The update deadline is today, **Tues, March 1 at 5pm PT**.

Tagging:
@breeswish
@BusyJay
@camilamacedo86
@cmacedo
@cpanat

[2022-03-01 18:07] nate-double-u commented on #523
Please don't wait on this. The 5pm deadline is from Google -- if you wait till then to open a PR we won't have time to merge it. The sooner these PRs come in the better.

Thanks everyone, I appreciate the effort so far!

[2022-03-01 18:45] warunicorn19 commented on #523
Hey @nate-double-u my PR included updates to the Service Mesh Performance project too, if you could check that off the list too, that'd be great. Thank you.

[2022-03-01 18:48] nate-double-u commented on #523
You are absolutely right @warunicorn19! Thanks for catching that. Updated 🙂

[2022-03-01 18:59] cmacedo commented on #523
What project is this and why am I on it?

From: Nate W. ***@***.***>
Date: Tuesday, March 1, 2022 at 1:49 PM
To: cncf/mentoring ***@***.***>
Cc: Charles R. Macedo ***@***.***>, Mention ***@***.***>
Subject: Re: [cncf/mentoring] CNCF GSoC Project Ideas missing information - please update ASAP (Issue #523)
  External E-Mail

Hey @nate-double-u<https://github.com/nate-double-u> my PR included updates

[2022-03-01 19:00] rashmigottipati commented on #523
@nate-double-u Thanks for merging the kubebuilder project info (https://github.com/cncf/mentoring/pull/548). If you could please check that off from the list, that would be helpful! :)

[2022-03-01 19:01] nate-double-u commented on #523
Done 🙂

[2022-03-01 19:05] nate-double-u commented on #523
Hi @cmacedo, you have been listed as a mentor on the **New Golang plugin to help Operator authors skill up (Size: Medium)** project proposal for Google Summer of Code. Please see https://github.com/cncf/mentoring/blob/main/summerofcode/2022.md#new-golang-plugin-to-help-operator-authors-skill-up-size-medium

If you don't want to be a mentor for this project proposal, my apologies, we can remove you

[2022-03-01 20:42] cmacedo commented on #523
I am a patent attorney not a programmer, so probably it is better to remove me. If you need help with patents or copyrights, please feel free to reach out to me.  But I am not sure I can give you much help for this subject matter.

Best of luck,

From: Nate W. ***@***.***>
Date: Tuesday, March 1, 2022 at 2:06 PM
To: cncf/mentoring ***@***.***>
Cc: Charles R. Macedo ***@***.***>, Mention ***@***.**

[2022-03-01 20:45] rashmigottipati commented on #523
hi @nate-double-u
I think @camilamacedo86 is the right github handle. Not @cmacedo

[2022-03-01 20:46] nate-double-u commented on #523
Sorry about that @cmacedo! I'll update the mentor tag for @camilamacedo86, thanks for the info @rashmigottipati.

[2022-03-01 20:47] rashmigottipati commented on #523
no probem, thanks @nate-double-u for updating it.

[2022-03-01 21:06] sedefsavas commented on #523
@nate-double-u
We had updated mentors of Cluster API Provider AWS project before. Just making sure it will not be submitted like this as I still see the previous mentor (shivi28) listed in this issue, but the mentors listed in the project description is correct.

https://github.com/cncf/mentoring/pull/551

[2022-03-01 21:42] nate-double-u commented on #523
The document will be submitted. This issue is just to help track that the needed updates are done. Please unsure your section is correct: https://github.com/cncf/mentoring/blob/main/summerofcode/2022.md#improve-observability-of-capa

[2022-03-01 22:41] nate-double-u commented on #523
Thanks everyone, we're at 54/54 now.

I merged in a PR for the last few projects that needed Difficulty, Project size, and Expected outcomes with default values and (I hope) a reasonable expected outcome:  https://github.com/cncf/mentoring/pull/553. These are marked above with "default values added."

These don't have to be the final versions, I just wanted every project to have a complete submiss

[2022-03-01 22:41] #523 closed

[2022-03-03 20:19] nate-double-u opened #559 "Automate labelling PRs"
It would be helpful to add labels to PRs as they come in. We can do this based on files changed

@nate-double-u has attempted (and picked out https://github.com/cncf/mentoring/pull/547) a solution that was promising, but didn't quite solve the problem.

[2022-03-08 17:00] ronitblenz opened #561 "Adding Issue template and Pull Request Template"
I would like to add Issue template and PR template for the cncf mentoring repository.

This would be handy for the upcoming contributors

[2022-03-08 20:29] idvoretskyi commented on #561
@ronitblenz can you elaborate please, this request is a bit confusing :)

[2022-03-09 07:31] ronitblenz commented on #561
<img width="1310" alt="Screenshot 2022-03-09 at 12 51 55 PM" src="https://user-images.githubusercontent.com/91361382/157392297-3d77ae03-13de-488c-b4f8-e4d04bc6103a.png">

<img width="1321" alt="Screenshot 2022-03-09 at 12 58 32 PM" src="https://user-images.githubusercontent.com/91361382/157393207-24e6c79f-a903-4916-9125-dd7aedb73761.png">

<img width="368" alt="Screenshot 2022-03-09 at 1 01 27 PM"

[2022-03-09 07:46] idvoretskyi commented on #561
@ronitblenz thanks, we're well aware of what the issue template is. What is the purpose for this specific repo?

[2022-03-09 08:21] ronitblenz commented on #561
It help to keep track of the issues and PRs and also automatically closes an issue, when a PR is merged

[2022-03-09 17:52] nate-double-u commented on #561
Thanks for the suggestion @ronitblenz, we won't be pursuing issue and PR templates for this repo at this time.

[2022-03-09 17:52] #561 closed

[2022-04-03 07:30] 0904-mansi opened #622 "GSoC Proposal Template for Contributors."
Hey Mentors!!
I am going to raise a point on behalf of all the GSOC contributors to the CNCF organization as a contributor that there should be a template for students to write the GSOC proposal. As some of us are beginners and do not know how to write proposals to increase the chances of selection. Some organizations have their own template/format for writing a proposal. It would be great if CNCF

[2022-04-03 10:27] hamees-sayed commented on #622
I have actually asked mentors and they said to follow google official's template:

https://google.github.io/gsocguides/student/writing-a-proposal
https://google.github.io/gsocguides/student/proposal-example-1.html

[2022-04-03 11:53] 0904-mansi commented on #622
Ok  Thank @hamees-sayed

[2022-04-04 12:02] prondubuisi commented on #622
I have this Repo with some sample proposals, hopefully this helps https://github.com/prondubuisi/accepted-gsoc-proposals

[2022-04-04 12:15] 0904-mansi commented on #622
Thanks @prondubuisi :)

[2022-04-08 17:16] nate-double-u commented on #622
I think it is still important to discuss if the CNCF should have templates, and if so, we can use this issue to track the work.

[2022-04-08 17:17] 0904-mansi commented on #622
Why not, we can continue:)

[2022-04-28 10:46] zhangyangyu opened #633 "Where and when can I get the proposal?"
I know a student has already submitted his proposal? Where and when can I know if the proposal passes? @nate-double-u

[2022-04-28 17:16] nate-double-u commented on #633
Hi @zhangyangyu, which program/proposal are you referring to?

[2022-04-28 18:47] zhangyangyu commented on #633
GSoC 2022

[2022-04-29 01:54] nate-double-u commented on #633
You should have received an email invite to the https://summerofcode.withgoogle.com/organizations/cncf/programs system -- it was sent on 2022-03-18.

If you can't find it, or if it has expired, please send me your email address (here, or in slack if you prefer it not to be public), and I'll send another.

[2022-05-06 14:11] bwplotka opened #636 "LFX Summer 2022 Timeline"
Hi! (Sorry for empty email, misclicked)

When we can start proposing projects for LFX summer? Timelines mentioned in https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/02-Summer are kind of fuzzy. Where is the best place to ask this question? (:

[2022-05-06 15:54] nate-double-u commented on #636
Hi @bwplotka, the cutoff for project ideas is May 8th, sorry that it wasn't clear (I'll reword it for next time!).

[2022-05-06 15:56] nate-double-u commented on #636
As for the best place to ask that question, an issue is good! I'm also trying to encourage folks to use [the mentoring discussions board](https://github.com/cncf/mentoring/discussions).

[2022-05-09 09:41] bwplotka commented on #636
Thanks!

[2022-05-09 09:41] #636 closed

[2022-05-12 20:22] nate-double-u opened #650 "Rename CNCF LFX mentoring seasons"
Currently, the CNCF LFX mentoring schedule is organized around 3 semesters, named:
* 01-Spring
* 02-Summer
* 03-Fall

To be inclusive of the Southern hemisphere, we should revise these semester names.

[2022-05-12 20:24] nate-double-u commented on #650
One suggestion:
* 01 March - May
* 02 June - August
* 03 September - November

[2022-05-20 06:47] youngnick commented on #650
In the past I've seen great success with just picking one month out of a period to be the period name, doesn't matter if its the start or ending month as long as it's consistent.

In this case, maybe call the seasons by the first month, since that indicates to people when it starts, and that means it indicates a little bit about when the applications may be due, when they'll actually start, and so

[2022-05-20 16:39] djdongjin commented on #650
Maybe just use numbers for each semester, something like:

- 01 - Season 1
- 02 - Season 2
- 03 - Season 3

[2022-06-16 15:07] 0904-mansi commented on #650
Can I solve this issue? @nate-double-u @djdongjin @youngnick

[2022-06-16 15:44] nate-double-u commented on #650
Hi @0904-mansi, I'm not sure this is so much an issue  that needs to be fixed so much as it is a discussion about how to move forward. I don't expect that we will go back and rename any previous semesters, we'll just use the new names moving forward.

So far I'm liking @youngnick's suggestion the most. @jaytiaki & @thisisobate, do you have any suggestions or thoughts?

[2022-06-16 17:18] 0904-mansi commented on #650
Hey @nate-double-u I also liked the names suggested by @djdongjin
  -  01 - Season 1
  -  02 - Season 2
  -  03 - Season 3

but we can think about it more.

[2022-06-16 23:15] nate-double-u commented on #650
I think this is a bit redundant -- no need to go _01_ - Season _1_, if we go this route probably just _Season 1_ is fine.

I think that for @youngnick's suggestion too, we probably don't need the leading zeros, probably _1 March_ would be fine.

[2022-06-16 23:26] jaytiaki commented on #650
Hey @nate-double-u, I agree with you on @youngnick's suggestion/logic. Including the months provide an easy reference point for applicants to work around.
Maybe including a dash, colon etc. e.g. 'Season 1 - March' or something to that effect might help to distinguish the semester intake from a date (we tend to reverse day/month order in 'the south'!)

[2022-06-20 04:27] youngnick commented on #650
@jaytiaki good points, I like the `Season 1 - March` format, has all the information we need, but unlikely to be confused with a different format.

[2022-06-29 23:12] nate-double-u commented on #650
I agree.

New semester format: "Season `<X>` - `<starting month>`"

So our next semester will likely be: `Season 3 - September`.

Thanks for all the input everyone!

[2022-06-29 23:14] nate-double-u commented on #650
Actually, before i close this -- should we use the word "Season," or would the word "Term" be better?

`Term 3 - September`

[2022-06-30 00:00] nate-double-u opened #663 "Send mentors evaluation form"
Due: July 5, 2022

Send google form for mentee evaluations to [cncf-lfx-mentors-summer-22@lists.cncf.io](https://lists.cncf.io/g/cncf-lfx-mentors-summer-22)

Note, evaluations are due on July 15, 2022

[2022-06-30 00:03] nate-double-u opened #664 "Send mentors evaluation form reminder"
Due: July 11

Send reminder to [cncf-lfx-mentors-summer-22@lists.cncf.io](https://lists.cncf.io/g/cncf-lfx-mentors-summer-22) that mentee evaluations are due on July 15, 2022

[2022-07-05 17:40] nate-double-u commented on #663
https://lists.cncf.io/g/cncf-lfx-mentors-summer-22/message/2

[2022-07-05 17:40] #663 closed

[2022-07-07 05:14] abs007 opened #665 "Possible change in Outreachy Readme.md"
Should it be mentioned in the [Outreachy README.md](https://github.com/cncf/mentoring/blob/main/outreachy/README.md) that GSoC mentees (passed/failed) are not eligible for future Outreachy internships?

[2022-07-07 16:24] nate-double-u commented on #665
Hi @abs007, thanks for the suggestion. I think Outreachy is already clear about its eligibility requirements (https://www.outreachy.org/docs/applicant/#eligibility).

In the interest of not duplicating content, for projects that the CNCF doesn't run directly, it's better to let the programs manage that sort of detail -- this makes less maintenance work for us. It keeps confusion to a minimum as th

[2022-07-08 04:28] abs007 commented on #665
Oh yes, makes sense that way to not include it then.

[2022-07-19 18:11] nate-double-u opened #666 "Send eval results notification to mentees"
Once the mentor evals have been submitted, inform mentees of results.

[2022-07-19 18:12] nate-double-u commented on #666
Notifications for most were sent on July 15, 2022. Remaining were sent on the following day.

[2022-07-19 18:12] #666 closed

[2022-07-19 18:17] nate-double-u opened #667 "Send eligible mentees Stipend instructions"
If mentees are eligible for stipend (have passed their first evaluation), send them instructions for how to open a stipend report.

* [payment process](https://docs.linuxfoundation.org/lfx/mentorship/mentees/submit-a-report-to-receive-a-mentorship-stipend)
* [support ticket](https://jira.linuxfoundation.org/plugins/servlet/theme/portal/4/create/131) for any questions about the payment process
* [L

[2022-07-19 18:18] nate-double-u commented on #667
Stipend instructions send  out with eval notifications on Jul 15 2022.

[2022-07-19 18:18] #667 closed

[2022-07-19 18:19] nate-double-u opened #668 "Approve midterm stipends"

[2022-07-19 18:20] nate-double-u commented on #668
Currently about 2/3 complete -- will send reminder email for eligible mentees at the end of this week.

[2022-07-19 18:25] nate-double-u opened #669 "Plan LFX mentorship program 2022 Term 3: Sept-Nov"
Previous year's timeline: https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2021/03-Fall#timeline

/cc @jaytiaki @jberkus

[2022-07-19 18:40] nate-double-u commented on #650
OK, looks like month abbrev works for us. For the folders, i think i'll still use `03-MM-MM` rather than `Term 3: MM-MM` to keep sorting correct and paths short. I'll add a new label for the next semester as well.

[2022-07-19 18:47] #650 closed

[2022-07-19 19:08] nate-double-u commented on #669
Suggested schedule:

## Term 3: September 5th - November 30th

Mentorship duration - three months (12 weeks - full-time schedule)

| activity | date |
| --- | --- |
| project proposals open | August 1 |
| proposals cutoff | August 15 |
| mentee applications open | August 15 - August 25 |
| application review/admission decisions/HR paperwork | August 26 - September 1 |
| Mentorship program begins w

[2022-07-19 19:10] nate-double-u commented on #669
Note, OSS EU is Sept 13-16, and KCCN NA is Oct 24-28.

[2022-07-19 19:19] carolynvs commented on #669
It looks like you have neatly dodged both conferences! 👏

[2022-07-19 19:20] nate-double-u commented on #669
I've made some updates to the dates, and added some times to make things clearer.

[2022-07-21 08:51] thisisobate commented on #669
How about we do a graduation ceremony for mentees? something like the [CNCF Mentees Meetup](https://community.cncf.io/cncf-mentees-meetup/)

As a past mentee myself, I figured this was one of the things that I looked forward to, and thus, my motivation for co-organizing the first CNCF mentees meetup.

What do you think? @nate-double-u @carolynvs
I'm happy to lead this initiative.

[2022-07-21 19:17] jaytiaki commented on #669
Thanks for putting this all together @nate-double-u, looks awesome and will work well with us being able to promote the next intake at the upcoming Expo on Aug 12/13.

Love the idea of the Meetups/Graduations @thisisobate, @caniszczyk. Agreed, mentees should be seen as part of the community and it'd be beneficial to keeping building an understanding of their ideas/experiences as this initiative co

[2022-07-21 21:01] jberkus commented on #669
new dates look good.

[2022-07-21 22:57] thisisobate commented on #669
Sure! @jaytiaki We can sync on slack to discuss more.
Handle is **Uche Obasi** on slack

[2022-07-26 17:59] #669 closed

[2022-07-27 10:07] thisisobate commented on #669
Ongoing discussion: https://github.com/cncf/mentoring/discussions/673

[2022-08-04 17:38] nate-double-u opened #679 "Invite CNCF TAG Contributor Strategy Chairs to maintain this repo"
With the approval of the Mentoring WG, we should add the CNCF TAG Contributor Strategy chairs to the repository.

Add Dawn & Josh to the [settings.yml file](https://github.com/cncf/mentoring/blob/main/.github/settings.yml) as maintainers.
- [ ] @geekygirldawn
- [ ] @jberkus

[2022-08-04 17:43] nate-double-u commented on #679
- [ ] @carolynvs

[2022-08-04 17:57] #679 closed

[2022-08-04 18:10] nate-double-u opened #681 "Add main branch protections"
We've had an increase in maintainers (welcome CNCF TAG Contributor Strategy!)

Should we add protections to the main branch? Requiring a PR with at least one approval seems like a reasonable start to me.

Thoughts?

[2022-08-04 18:19] nate-double-u commented on #681
Some more info: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule

[2022-08-04 19:46] nate-double-u commented on #668
currently 2 remain.
- [ ] Contact mentees _and_ mentors to ensure that the mentees are aware.

[2022-08-09 21:28] nate-double-u opened #684 "Update CNCF LFX Mentoring Term 3 Sept-Nov page with application instructions"
Update CNCF LFX Mentoring Term 3 Sept-Nov page currently has instructions on how to submit a project proposal.
- [ ] Add application instructions for mentees

https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/03-Sept-Nov

Due: August 12, 5:00 PM PDT

[2022-08-09 21:36] nate-double-u commented on #684
A link to an existing set of instructions may be appropriate here as well.

[2022-08-09 21:46] nate-double-u commented on #681
I'd like to suggest lazy consensus here.

If there are no objections or comments by 5:00PM PDT on August 31 2022, then I'll add branch protection for `main`

[2022-08-10 21:02] nate-double-u commented on #668
All current mentees have submitted their stipend payment reports.

[2022-08-10 21:02] #668 closed

[2022-08-11 20:54] nate-double-u opened #691 "Add proposed projects to LFX Mentorship & Update '22 term 3: Sept-Nov main page"
- [x] Add proposals to LFX Platform
- [ ] Move proposals from project ideas page to main page w/ LFX platform links for applicants to follow
  https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/03-Sept-Nov

Due: After project proposals close Aug 12 @ 5:00 PM PDT

[2022-08-11 21:17] nate-double-u opened #692 "Schedule Communication for LFX Mentee Applicaitons open"
Applications open - Monday Aug 15
- [x] email
- [x] tweet
- [x] slack

Applications nearing close (applications close August 24, 5:00 PM PDT, warning should be sent out a day before)
- [x] email
- [ ] tweet
- [x] slack

[2022-08-11 21:57] nate-double-u opened #693 "Create mentor/mentee maillists for Term 3: Sept-Nov"
- [x] cncf-lfx-mentors-sept-nov-2022@lists.cncf.io
- [x] cncf-lfx-mentees-sept-nov-2022@lists.cncf.io

[2022-08-11 22:00] nate-double-u opened #694 "Create "Project, Mentor, & Mentee list" for '22 Term 3: Sept-Nov"
- [x] Create "Project, Mentor, & Mentee list" google sheet for '22 Term 3: Sept-Nov
- [x] Share list with admins

[2022-08-11 22:15] nate-double-u commented on #693
@amye or @jeefy could you create these lists for us?

[2022-08-11 22:16] nate-double-u commented on #694
Sheets created and shared with TAG chairs & WG Chairs.

[2022-08-11 22:16] #694 closed

[2022-08-11 22:46] nate-double-u commented on #684
https://github.com/cncf/mentoring/blob/main/lfx-mentorship/README.md#program-guidelines

[2022-08-11 22:58] nate-double-u opened #695 "CNCF LFX Mentoring Summer 2022 - 2nd Evaluations"
Send out evaluation form by August 22, 2022 (to give mentors time to respond)
Evaluations are due August 31, 2022

cncf-lfx-mentors-summer-22@lists.cncf.io

[2022-08-11 23:00] nate-double-u commented on #695
@jaytiaki @thisisobate @jberkus @geekygirldawn, I have created and shared the google form for this -- but I'll be on vacation when it needs to be sent out. Let me know if one of you would like to send it out or if you'd like me to schedule the email before I head off.

[2022-08-11 23:07] nate-double-u opened #696 "LFX Mentoring Summer 2022 - End of term"
- [x] Send out results of 2nd evaluations
  - [x] Keep track of stipend payment status on google sheet
- [x] Update mentoring page with successful projects (https://github.com/cncf/mentoring#lfx-ex-community-bridge)
  - [x] Update status of term (https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/02-Summer)
- [x] Co-ordinate with CNCF media team to write blog

August 31, 2022

[2022-08-13 22:53] nate-double-u commented on #692
Tweet schedudled -- spoke with CNCF Media team to schedule it.

[2022-08-13 23:42] nate-double-u commented on #695
I'll schedule this to go out on Monday Aug 22, 2022.

[2022-08-14 03:02] #684 closed

[2022-08-14 03:02] #691 closed

[2022-08-14 03:04] nate-double-u commented on #692
Comms scheduled.

[2022-08-14 03:04] #692 closed

[2022-08-15 19:59] rakshitgondwal opened #709 "Typing Error"
No bullets have been created for the 'Recommended Skills' , 'Mentors' and 'Issues' part in the 'CNCF TAG Network and Observability' project in 'mentoring/lfx-mentorship/2022/03-Sept-Nov/' section.

![Screenshot (221)](https://user-images.githubusercontent.com/98955085/184708409-7c6ff60e-59a9-4667-8e9f-8e88090ddac7.png)

[2022-08-25 21:16] #709 closed

[2022-08-26 15:56] Conradgabe commented on #681
I'll work on this @nate-double-u

[2022-08-27 02:57] Conradgabe commented on #693
I would like to work on this @nate-double-u

[2022-09-21 17:54] nate-double-u commented on #695
Evaluations are all in.

[2022-09-21 17:54] #695 closed

[2022-09-21 17:54] #693 closed

[2022-09-28 22:51] nate-double-u commented on #234
closing as complete (and 2 years old 😅)

[2022-09-28 22:51] #234 closed

[2022-09-28 22:56] nate-double-u commented on #201
Sorry this is a bit of a stale issue, but I think Google has outlined GSoC org admin responsibilities well here:
* https://developers.google.com/open-source/gsoc/help/responsibilities#org_admin_responsibilities
* https://developers.google.com/open-source/gsoc/help/oa-tips

[2022-09-29 19:02] nate-double-u commented on #681
The following branch protections have been enabled:
<img width="774" alt="Screen Shot 2022-09-29 at 12 01 44 PM" src="https://user-images.githubusercontent.com/4453979/193119747-fa03d360-3235-4e76-9f3b-c84ac47927fd.png">

[2022-09-29 19:02] #681 closed

[2022-10-03 21:54] nate-double-u commented on #696
https://www.cncf.io/blog/2022/10/03/congratulations-to-the-27-summer-lfx-program-cncf-interns/

[2022-10-03 21:54] #696 closed

[2022-10-03 22:28] nate-double-u opened #723 "CNCF LFX Mentoring 2022 Term 3: Sept-Nov - 1st Evaluations"
https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/03-Sept-Nov#timeline

- [x] Send out evaluation form by Sept 29, 2022 (to give mentors time to respond)
- [x] Evaluations are due October 6, 2022
- [x] Send results and Stipend instructions. Due Oct 7, 2022

[2022-10-03 22:39] nate-double-u opened #724 "CNCF LFX Mentoring 2022 Term 3: Sept-Nov - 2nd Evaluations"
https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/03-Sept-Nov#timeline

- [x] Send out evaluation form by Nov 9, 2022 (to give mentors time to respond)
- [x] Evaluations are due Nov 16, 2022
- [x] Send results and Stipend instructions. Due Nov 17, 2022

[2022-10-03 22:44] nate-double-u opened #725 "LFX Mentoring 2022 Term 3: Sept-Nov - End of term"
https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/03-Sept-Nov#timeline

- [x] Send out results of 2nd evaluations
  - [x] Keep track of stipend payment status on google sheet
  - [x] Update mentee status to graduated in LFX
- [x] Update mentoring page with successful projects (https://github.com/cncf/mentoring#lfx-ex-community-bridge)
  - [x] Update status of term (https://github.com

[2022-10-12 22:38] nate-double-u commented on #723
Evaluations are all in. Stipend payments in process.

[2022-10-12 22:38] #723 closed

[2022-10-19 18:20] nate-double-u commented on #443
/cc @jaytiaki, This is the issue I was talking about in our meeting. Not sure which questions would be best to start with, but I think we're getting a lot of "how do I get started" inquiry's in the discussions boards.

[2022-10-26 16:27] RobertKielty commented on #559
Lets meet up to discuss this. I can help here.

[2022-10-26 17:45] RobertKielty commented on #559
We want to automatically label incoming PRs based in their position in the directory hierarchy.

So for example PR to change a file in ./lfx-mentorship/2023/01-Mar-May/ should be auto labelled with

- lfx mentorship
- 2023
- 01-Mar-May

We want the labels to human readable and there are already defined

https://github.com/cncf/mentoring/blob/main/.github/settings.yml

[2022-11-07 00:31] Riaankl opened #735 "Created diagrams of "before" and "after" for the repo refactoring"
**Why?**
This would help contibutors follow the planning of the changes

[2022-11-07 00:33] Riaankl opened #736 "Next steps for Mentor section"
- [x] Start on Mentor section
    - [ ] What is the mentor's next step if they want to propose a project
- [ ] Instructions and a working space
    - [ ] Idea file
    - [ ] Accepted projects list
        - This will go to the Website
 - Mentors have a direct line to us so not as much immediate support required (initially)

**Document for referance Linux Foundation Mentors**
https://docs.linuxfoun

[2022-11-07 00:34] Riaankl opened #737 "Next steps for Mentee section"
- [ ] Mentee track
    - [ ] Mentee folder with
        - [ ]  timelines
        - [ ]  dates
        - [ ]  link to LFX site to apply
 - [ ] Mentees priority persona due to inexperience w/ OS

[2022-11-07 00:38] Riaankl opened #738 "Next steps for Archive"
- [x] Archive info can go in a folder within Programs folder
- [x] Cross info can be moved to Archive folder, all others duplicated into archive
     - [x] Top level programs only show most recent information

- [x] Move data to Achive
    - [x] Active and next Semester kept in main folder (Programs file); everything else shifted to the Archive
    - [x] Excessive archive info can be cut from the

[2022-11-07 00:40] Riaankl opened #739 "Next steps for Mentor WG admin folder"
- [x] Each program - set out a list of tasks that need to occur for each program
- [x] In the Mentor WG for make a TODO list and set up Project board like the [CNCF LFX Mentoring '22 Term 3: Sept-Nov example](https://github.com/orgs/cncf/projects/12/views/1) (public access)
    - Can be used to teach/onboard new admins; this is the process to run a term of an LFX Mentorship
    - Should be formali

[2022-11-07 00:41] Riaankl opened #740 "Next steps for CoC other `root' level docs"
- [x] Docs such as 'licence', 'Contributing', 'CoC' etc should be in the root directory of the Repo
    * If the CoC differs for a specific program, we can adapt/file it as such
      * for example: https://github.com/cncf/project-template

[2022-11-07 22:10] riaankleinhans opened #741 "Public Mentoring Calendar"
- [ ] Current CNCF Event calendar is packed; create instead a **public Mentoring calendar** to inform of things such as due dates (projects, applications etc.)
    - Need to decide who needs/has access
- [ ] Seek authorisation from relevant parties

[2022-11-12 19:29] nitishmalang opened #743 "GSOC 2023"
I am student want to contribute in CNCF projects in GSOC 2023 and want to be mentored by CNCF

https://github.com/cncf/mentoring/issues/743#tasklist-block-ebdefa7a-f925-48e0-92e4-63a71e4d08da

[2022-11-13 21:12] Panda-Abhisek commented on #743
Same here too, I also wanna contribute in CNCF projects in GSOC 2023

[2022-11-14 15:51] nitishmalang commented on #743
I'm so sorry for this i'm closing it right now

[2022-11-14 15:51] #743 closed

[2022-11-15 20:09] Riaankl commented on #738
Create [PR](https://github.com/cncf/mentoring/pull/744) to move archive data.

[2022-11-16 00:36] Riaankl commented on #738
@nate-double-u what about Cross on the README page in the list of programs?
Can I remove it from the table?

[2022-11-22 21:27] Riaankl opened #748 "Update the Root README.md"
After moving all information around in the repo review/.
Do a hyperlinked "site map" for the rest of the repo

[2022-11-24 16:33] money8203 commented on #748
Hey, I am interested working on this issue, just needed a bit more clarification if possible!

[2022-11-24 17:23] Riaankl commented on #748
@money8203 thank you for reaching out to help.
This is part of a [larger project](https://github.com/orgs/cncf/projects/16) to refector the all of the Mentoring WG GH repo.
We created the issue out of a discussion in yesterday's Mentoring WG meeting.
We are doing the work against the V2 branch at the momnent.
Once all the movement in the repo is done and information is updated this issue would be

[2022-11-24 17:25] money8203 commented on #443
@nate-double-u @idvoretskyi, these are some of the questions you can answer :

1. I am a complete beginner, no prior knowledge about CNCF but interested in contributing to it so, from where should I start my contribution journey ?
2.  I want to be a part of CNCF organization, where to begin, whom to contact ?
3. I want to contribute to CNCF projects ?
4. Interested in becoming LFX mentee / mentor

[2022-11-24 17:43] money8203 commented on #748
Oh, got it!
Thank you so much for clarifying the issue, and I am eager to attend the next meet for more insights into the CNCF.

[2022-11-24 20:46] jaytiaki commented on #443
Hey Nate, this is great, thanks for sharing this. Looking forward to
breaking it down in more detail with you soon :)

Cheers,
Jay

On Thu, Oct 20, 2022 at 7:20 AM Nate W. ***@***.***> wrote:

[2022-11-28 02:38] ItsRoy69 opened #749 "Issue Templates ⚠"
Issue Templates are awesome to have

- Since there are alot of folks contributing to this Opensource project i would suggest we have `ISSUE TEMPLATES`
- That way we can categorize the issues more and manage it more decently.
- I can work on this if I am being assigned

![186455418-275c5798-4785-4bbf-af3f-8ae10115cdb4](https://user-images.githubusercontent.com/78967360/204179520-e84e6361-a658-4868-